<h1 align="center">Todos los Bloggers de Natxo's Blog</h1>

<div align="center">

  <%= will_paginate %>

  <% @users.each do |user| %>

    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 col-md-offset-4">
         
          <li><%= link_to gravatar_for(user), user_path(user) %></li>
         
          <li class="article-title">
            <%= link_to user.username, user_path(user) %>
          </li>
         
          <li><small>
            <%= pluralize(user.articles.count, "artículo") if user.articles %>
          </small></li>

              <% if logged_in? and current_user.admin? %>
                <li><%= link_to "Borrar este usuario", user_path(user), method: :delete,
                        data: { confirm: "¿Estás seguro/a de que quieres borrar a este usuario y todos sus artículos?" } %></li>
              <% end %>

        </div>
      </div>
    </ul>

  <% end %>

  <%= will_paginate %>

</div>
